spring-demo-gradle/bin/
spring-demo-gradle/bin/test/com/example/demogradle/Controller/
spring-demo-gradle/bin/test/com/example/demogradle/
.gradle/
.gradle/buildOutputCleanup/*
build/
/bin/ 
.project
.settings/org.eclipse.buildship.core.prefs
.classpath
bin/main/templates/*
.vscode/launch.json
